<!DOCTYPE html>
<html lang="pt-br" ng-app='app'>
  <head>
    <title>DEVCONF | <%= yield :title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style><%= yield :css %></style>
    <script><%= yield :js %></script>
  </head>

  <body class="<%= controller.controller_name %>" data-spy="scroll">
    <%= yield %>
  </body>
</html>
